/*
|--------------------------------------------------------------------------
| Vars
*/
$sidebar_width: 300px;
$header_height: 68px;
$page_width:809px;
$page_height:462px;

$a_color: red;
$b_color: #4D433B;
$c_color: #EBE8E4;
$d_color: #298A00;
$gray_1: #ACA8A0;
