<div class="preloader"></div>
<nav>
    <ul id="sidebarNav">
        <li class="selected"><a href="/"><i class="icon-globe icon-2x"></i></a></li>
        <li class="disabled"><a href="#"><i class="icon-money icon-2x"></i></a></li>
        <li class="disabled"><a href="#"><i class="icon-music icon-2x"></i></a></li>
        <li class="disabled"><a href="#"><i class="icon-film icon-2x"></i></a></li>
        <li class="disabled"><a href="#"><i class="icon-legal icon-2x"></i></a></li>
    </ul>

</nav><!-- /#sidebarNav -->

<div id="itemsBucket">
    <!-- inject the List here -->
</div><!-- /#itemsBucket -->

